<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Tourney Pro Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <script>
            function toMyProfile(){
                var form = document.getElementById("toMyProfile");
                form.submit()
            }
            function toMyTourneys(){
                var form = document.getElementById("toMyTourneys");
                form.submit()
            }
            function createTourney(){
                var form = document.getElementById("createTourney");
                form.submit()
            }
            function toCompTourneys(){
                var form = document.getElementById("toCompTourneys");
                form.submit()
            }
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">TOURNEY PRO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <form action="/myProfile" method="get" id="toMyProfile">
                    <a class="nav-link" onClick="toMyProfile()">My Profile <span class="sr-only">(current)</span></a>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="/createTourney" method="get" id="createTourney">
                    <a class="nav-link" onClick="createTourney()">Create A Tourney</a>
                    </form>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tourneys
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <form action="/myTourneys" method="get" id="toMyTourneys">
                        <a class="dropdown-item" onClick="toMyTourneys()">Hosting</a>
                        </form>
                        <form action="/compTourneys" method="get" id="toCompTourneys">
                        <a class="dropdown-item" onClick="toCompTourneys()">Competing</a>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        </nav>
        
    <form class="form-signin" action="/postTourney" method="post">
      <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Create a Tourney</h1>
        
      <label for="inputName" class="sr-only">Tourney Name</label>
      <input type="text" id="tourneyName" name="tourneyName" class="form-control" placeholder="Tourney Name">
        
      <label for="inputRules" class="sr-only">Input Rules</label>
      <textarea class="form-control" name="rules" rows="3" placeholder="Rules"></textarea>
        
      <label for="inputPassword" class="sr-only">Input Prize</label>
      <textarea class="form-control" name="prize" rows="3" placeholder="Prize"></textarea>
        
      <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
        
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>